---
name: Release

on:
  push:
    branches:
      - main

jobs:
  bump-version:
    if: "!contains(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Needed to push the tag and changelog back
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Commitizen
        run: pip install -U commitizen

      - name: Create bump and changelog
        id: cz
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          cz bump --yes --changelog

      - name: Push changes
        run: |
          git push origin main --tags
